body{
background-color:#ffffff;
}
.cube{
    width:100px;
    height:100px;
}
.page-header {
    background-color: #292933;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
a{
color:#ffffff;
}

