{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/Film.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="Films">
    <ul style="list-style-type: none;">
    {% for obj in object %}
        <c class="C">
        <img src="{{obj.Photo.url}}" width="200px" height="300px">
        </c>
            <li>
                <b href=""> {{obj.Name_Film}} </b>
                <br><br>
                {{obj.year_production}},
                {{obj.Duration_of_the_film}}<br>
                {{obj.Country}} -
                {{obj.Genre }}<br>
                Режиссер: {{obj.Director }}<br>
                В ролях: Илюха гей и его близкий друг нигер<br>
                <rate class="rateC">
                    По оценкам пользователей:
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                </rate>
                <Y href="{{ p.get_absolute_url }}">
                    <button>
                        Открыть
                    </button>
                </Y>
            </li><br><br><br>
        {% endfor %}
    </ul>
</div>
</body>
</html>