{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <title>Myop</title>
    <link rel="icon" type="jpg" href="{% static 'image/cat_logo.jpg' %}">
</head>
<body>
<div class="page-header">
    <h1>
        <img src ="{% static 'image/cat.jpg' %}" width="100px" height="100px">
        <a href="/"> MY OPINION </a>
    </h1>
    <input class="search" type="text" placeholder="Искать здесь..." name="search_N" >
    <button class="button_search" type="submit">
        <img src="{% static 'image/Vector.png' %}">
    </button>

    <button class="Register">
        Регистрация
    </button>

    <button class="Avtoriz">
        Авторизация
    </button>
</div>


<div class="Films">
   <!-- <img src = "{% static 'image/1+1.jpg'%}" width="200px" height="300px" > -->
    <ul style="list-style-type: none;">
        {% for obj in object %}
        <c class="C">
        <img src="{{obj.Photo.url}}" width="200px" height="300px">
        </c>
            <li>
                <b> {{obj.Name_Film}} </b>
                <br><br>
                {{obj.year_production}},
                {{obj.Duration_of_the_film}}<br>
                {{obj.Country}} -
                {{obj.Genre }}<br>
                Режиссер: {{obj.Director }}<br>
                В ролях: Илюха гей и его близкий друг нигер<br>
                <rate class="rateC">
                    По оценкам пользователей:
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                <img src="{% static 'image/star.png' %}" width="50px" height="50px">
                </rate>
            </li><br><br><br>
        {% endfor %}
    </ul>
</div>

</body>
</html>
